@font-face {
  font-family: "Aventine";
  src: local("Aventine"), url(./../fonts/Aventine.ttf) format("truetype");
}

.allproject {
  font-family: "Aventine" !important;
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.Project-liste-item:last-child {
  border-bottom: 1px solid #fff;
}
.Project-liste-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #fff;
  font-size: 3rem;
  cursor: pointer;
}
.Project-image-item {
  width: 100%;
  height: 100%;
  max-height: 450px;
  margin-right: 2rem;
  object-fit: contain;
}
.liste-box {
  overflow-y: scroll;
}

.fade {
  transition: opacity 1s ease-in-out;
}
