@font-face {
  font-family: "The-Northern";
  src: local("The-Northern"), url(./../fonts/The-Northern.otf) format("opentype");
}

.FifthPart {
  background-color:  #005291;
  overflow: hidden;
  min-height: 100vh;
  color:  #FFF;
  overflow-x: hidden;
  width: 93% !important;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 2;
}

.contacteForm {
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}
.contact-title {
  line-height: 6rem !important;
  font-size: 6rem !important;
}

.inputForm {
  border-bottom: 1px solid  #FFF !important;
  background-color:  #F7EBDE;
  border: none;
  width: 100%;
  font-size: 24px;
  font-family: "The-Northern";
}
.inputForm:focus-visible {
  border-bottom: 1px solid  #FFF !important;
  border: none;
  width: 100%;
  font-size: 24px;
  outline: none;
}

textarea[name="message"] {
  resize: none;
  height: 200px;
}
.submitBox {
  padding: 20px 0px 0px;
}
.submit {
  background-color: transparent;
  padding: 5px 20px;
  font-size: 20px;
  font-family: "yrsa";
  border: 2px solid  #FFF;
  border-radius: 5px;
  color:  #FFF;
  transition: all 0.1s;
  width: 200px;
  -webkit-transition: all 0.1s;
}
.submit:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
.submitCheck {
  font-family: "yrsa";
  font-size: 30px;
  padding-top: 15%;
  color:  #FFF;
}
.mail {
  font-size: 24px;
  color:  #FFF;
  font-family: "The-Northern";
  text-align: left;
}
.mail:hover {
  color:  lightskyblue;
  text-decoration: none;
}
@media (max-width: 768px) {
  .contact-title {
    line-height: 3rem !important;
    font-size: 2.5rem !important;
  }
}
