@font-face {
  font-family: "Mitr";
  src: local("Mitr"), url(./../fonts/Mitr-Light.ttf) format("truetype");
}

.FifthPart {
  background-color: #005291;
  overflow: hidden;
  min-height: 100vh;
  color: #fff;
  overflow-x: hidden;
  width: 100% !important;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 2;
}

.contacteForm {
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}
.contact-title {
  text-align: center;
  line-height: 4rem !important;
  font-size: 4rem !important;
}

.inputForm {
  border-bottom: 1px solid #fff !important;
  background-color: #f7ebde;
  border: none;
  width: 100%;
  font-size: 24px;
  font-family: "Mitr";
}
.inputForm:focus-visible {
  border-bottom: 1px solid #fff !important;
  border: none;
  width: 100%;
  font-size: 24px;
  outline: none;
}

textarea[name="message"] {
  resize: none;
  height: 200px;
}
.submitBox {
  padding: 20px 0px 0px;
}
.submit {
  background-color: transparent;
  padding: 5px 20px;
  font-size: 20px;
  font-family: "yrsa";
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: all 0.1s;
  width: 200px;
  -webkit-transition: all 0.1s;
}
.submit:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
.submitCheck {
  font-family: "yrsa";
  font-size: 30px;
  padding-top: 15%;
  color: #fff;
}
.mail {
  font-size: 2rem;
  color: #fff;
  font-family: "Brice-BlackExpanded" !important;
  text-align: left;
}
.mail:hover {
  color: #f7ebde;
  text-decoration: none;
}
@media (max-width: 768px) {
  .contact-title {
    line-height: 3rem !important;
    font-size: 2.5rem !important;
  }
}
