@font-face {
  font-family: "Recoleta";
  src: local("Recoleta"),
    url(./../fonts/Recoleta-Regular.ttf) format("truetype");
}
.FifthPart {
  background-color: white;
  overflow: hidden;
  min-height: 100vh;
  color: #1b3b6f;
  overflow-x: hidden;
  width: 90% !important;
  border-radius: 10px;
  margin: 0 auto;
}

.contacteForm {
  padding: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}
.contact-title {
  line-height: 6rem !important;
  font-size: 7rem !important;
}

.inputForm {
  border-bottom: 1px solid #1b3b6f !important;
  border: none;
  width: 100%;
  font-size: 24px;
  font-family: "Recoleta";
}
.inputForm:focus-visible {
  border-bottom: 1px solid #1b3b6f !important;
  border: none;
  width: 100%;
  font-size: 24px;
  outline: none;
}

textarea[name="message"] {
  resize: none;
  height: 200px;
}
.submitBox {
  padding: 20px 0px 0px;
}
.submit {
  background-color: transparent;
  padding: 5px 20px;
  font-size: 20px;
  font-family: "yrsa";
  border: 2px solid #1b3b6f;
  border-radius: 5px;
  color: #1b3b6f;
  transition: all 0.1s;
  width: 200px;
  -webkit-transition: all 0.1s;
}
.submit:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
.submitCheck {
  font-family: "yrsa";
  font-size: 30px;
  padding-top: 15%;
  color: #1b3b6f;
}
.mail {
  font-size: 24px;
  color: #1b3b6f;
  font-family: "Recoleta";
  text-align: left;
}
@media (max-width: 768px) {
  .contact-title {
    line-height: 5rem !important;
    font-size: 5rem !important;
  }
}
