@font-face {
  font-family: "GatwickBold";
  src: local("PPGatwick-Bold"),
    url(./../fonts/PPGatwick-Bold.otf) format("opentype");
}
@font-face {
  font-family: "MoriRegulat";
  src: local("PPMori-Regular"),
    url(./../fonts/PPMori-Regular.otf) format("opentype");
}
@font-face {
  font-family: "MoriBold";
  src: local("PPMori-SemiBold"),
    url(./../fonts/PPMori-SemiBold.otf) format("opentype");
}
.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
  font-family: "MoriBold" !important;
}
.title {
  font-size: 9vw;
  width: fit-content;
}
.title3 {
  font-size: 5vw;
  width: fit-content;
}

.firstPart {
  width: 100%;
  height: 100vh;
  color: #001829;
}
.namePart {
  color: #001829;
}
.favorite {
  padding: 0px 0px 0px 0px;
  -webkit-text-stroke: 2px #001829;
  color: transparent;
}

.frontend {
  padding: 0px 0px 0px 0px;
  color: #fff;
}
.firstRow {
  height: 95vh;
}

.arrow {
  position: relative;
  left: 50%;
  bottom: 0;
  margin-left: -20px;
  width: fit-content;
  height: 24px;
  /**
   * Dark Arrow Down
   */
  background-size: contain;
  background-repeat: no-repeat;
}

.spin {
  animation: spin 5s linear infinite;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.navbarCustom {
  position: fixed;
  top: 20%;
  z-index: 5;
}
.navbarContent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  font-size: 24px;
  margin-left: 10px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #fff;
  background-color: white;
  border-radius: 5px;
}

.heure {
  padding: 5px 0px;
  font-size: 24px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: 35%;
  position: fixed;
  right: 0;
  z-index: 5;
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Brice-BlackExpanded" !important;
  color: #001829;
}

.bluemodeheure {
  color: white !important;
}

.Menu {
  z-index: 5;
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001829;
  transform: translate(-100%);
  transition: all 0.45s;
}

.Menu.open {
  transform: translate(0);
}

.Menu > .btnClose {
  z-index: 5;
  font-size: 30px;
  position: fixed;
  right: 3vw;
  top: 3vh;
  cursor: pointer;
  color: #ffffff;
}

.Menu > .Menu-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 colonnes équales */
  grid-template-rows: repeat(2, 1fr); /* 3 lignes équales */
  place-items: center;
  grid-gap: 10px;
}

.one {
  grid-column: 2 / 3; /* Commence à la colonne 1 */
  grid-row: 1 / 2; /* Commence à la ligne 1 */
}

.two {
  grid-column: 3 / 4; /* Termine à la colonne 5 */
  grid-row: 2 / 3; /* Termine à la ligne 3 */
}
.hoverBox {
  grid-column: 3 / 4; /* Commence à la colonne 1 */
  grid-row: 1 / 2; /* Commence à la ligne 1 */
  margin: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoverBox2 {
  grid-column: 2 / 3; /* Commence à la colonne 1 */
  grid-row: 2 / 3; /* Commence à la ligne 1 */
  margin: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textDeco {
  text-decoration: none;
  font-size: 10rem;
  color: #fff;
}
.deco-one {
  animation: spin 5s linear infinite;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.menu-item {
  text-align: center;
  color: #ffffff;
  font-size: 5rem !important;
  text-decoration: none;
  position: relative;
  font-family: "Brice-BlackExpanded" !important;
}
.menu-item:hover {
  color: #cae7ff;
}
.menu-item::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  transform: scaleX(0);
  transition: all 0.45s;
}
.menu-item:hover::after {
  transform: scaleX(1);
}

.menu-items-list {
  display: flex;
  flex-direction: column;
}

.menu-item:nth-child(1) {
  animation: animate ease-in-out;
  animation-duration: 0.7s;
}

.menu-item:nth-child(2) {
  animation: animate ease-in-out;
  animation-duration: 0.85s;
}

.menu-item:nth-child(3) {
  animation: animate ease-in-out;
  animation-duration: 1s;
}

.menu-item:nth-child(4) {
  animation: animate ease-in-out;
  animation-duration: 1.15s;
}

.Menu.open .Menu-items > a:nth-child(5) {
  animation: animate ease-in-out;
  animation-duration: 1.3s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1500px) {
  .title {
    font-size: calc(10rem - 2vw) !important;
    line-height: calc(9rem - 3vw) !important;
  }
  .title3 {
    font-size: calc(7rem - 2vw) !important;
    line-height: calc(9rem - 2vw) !important;
  }
}
@media (max-width: 1300px) {
  .title {
    font-size: calc(10rem - 2vw) !important;
    line-height: calc(9rem - 3vw) !important;
  }
  .title3 {
    font-size: calc(7rem - 1vw) !important;
    line-height: calc(9rem - 2vw) !important;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: calc(10rem - 7vw) !important;
    line-height: calc(9rem - 5vw) !important;
  }
  .title3 {
    font-size: calc(7rem - 5vw) !important;
    line-height: calc(9rem - 4vw) !important;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: calc(10rem - 9vw) !important;
    line-height: calc(9rem - 7vw) !important;
  }
  .title3 {
    font-size: calc(7rem - 7vw) !important;
    line-height: calc(9rem - 6vw) !important;
  }
  .name--col {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: calc(5rem - 11vw) !important;
    line-height: calc(5rem - 9vw) !important;
  }
  .title3 {
    font-size: calc(4rem - 9vw) !important;
    line-height: calc(4rem - 8vw) !important;
  }
  .nav-name > h4 {
    font-size: 1rem;
  }
  .btnOpen {
    font-size: 1rem;
  }
  .main-tool-bar {
    height: 65px !important;
  }
  .Menu-items {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 0px !important;
  }
  .menu-item {
    font-size: 2rem !important;
  }
  .one {
    grid-column: 1 !important;
    grid-row: 1 / 2;
  }
  .two {
    grid-column: 1 !important;
    grid-row: 2 / 3;
  }
}
