@font-face {
  font-family: "GatwickBold";
  src: local("PPGatwick-Bold"),
    url(./../fonts/PPGatwick-Bold.otf) format("opentype");
}
.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
  font-family: "GatwickBold" !important;
  font-weight: 500;
  font-size: 10rem !important;
  line-height: 9rem !important;
}

.firstPart {
  width: 100%;
  height: 100vh;
  color: #001829;
}
.namePart {
  padding: 5rem 0px 0px 0px;
  color: #001829;
}
.favorite {
  padding: 0px 0px 0px 0px;
  -webkit-text-stroke: 2px #001829;
  color: transparent;
}
.favorite > h2 {
  font-size: 7rem !important;
  line-height: 9rem !important;
}
.frontend {
  padding: 0px 0px 0px 0px;
  color: #fff;
}
.firstRow {
  height: 95vh;
}

.arrow {
  position: relative;
  left: 50%;
  bottom: 0;
  margin-left: -20px;
  width: 40px;
  height: 24px;

  /**
   * Dark Arrow Down
   */
  background-image: url(../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.navbarCustom {
  position: fixed;
  top: 20%;
  z-index: 5;
}
.navbarContent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  font-size: 24px;
  margin-left: 10px;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #fff;
  background-color: white;
  border-radius: 5px;
}

.heure {
  padding: 5px 0px;
  font-size: 24px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: 35%;
  position: fixed;
  right: 0;
  z-index: 5;
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Brice-BlackExpanded" !important;
  color: #001829;
}

.bluemodeheure {
  color: white !important;
}

.Menu {
  z-index: 5;
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001829;
  transform: translate(-100%);
  transition: all 0.45s;
}

.Menu.open {
  transform: translate(0);
}

.Menu > .btnClose {
  z-index: 5;
  font-size: 30px;
  position: fixed;
  right: 3vw;
  top: 3vh;
  cursor: pointer;
  color: #ffffff;
}

.Menu > .Menu-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 colonnes équales */
  grid-template-rows: repeat(2, 1fr); /* 3 lignes équales */
  place-items: center;
  grid-gap: 10px;
}

.one {
  grid-column: 2 / 3; /* Commence à la colonne 1 */
  grid-row: 1 / 2; /* Commence à la ligne 1 */
}

.two {
  grid-column: 3 / 4; /* Termine à la colonne 5 */
  grid-row: 2 / 3; /* Termine à la ligne 3 */
}
.hoverBox {
  grid-column: 3 / 4; /* Commence à la colonne 1 */
  grid-row: 1 / 2; /* Commence à la ligne 1 */
  margin: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoverBox2 {
  grid-column: 2 / 3; /* Commence à la colonne 1 */
  grid-row: 2 / 3; /* Commence à la ligne 1 */
  margin: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textDeco {
  text-decoration: none;
  font-size: 10rem;
  color: #fff;
}
.deco-one {
  animation: spin 5s linear infinite;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.menu-item {
  text-align: center;
  color: #ffffff;
  font-size: 5rem !important;
  text-decoration: none;
  position: relative;
  font-family: "Brice-BlackExpanded" !important;
}
.menu-item:hover {
  color: #cae7ff;
}
.menu-item::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
  transform: scaleX(0);
  transition: all 0.45s;
}
.menu-item:hover::after {
  transform: scaleX(1);
}

.menu-items-list {
  display: flex;
  flex-direction: column;
}

.menu-item:nth-child(1) {
  animation: animate ease-in-out;
  animation-duration: 0.7s;
}

.menu-item:nth-child(2) {
  animation: animate ease-in-out;
  animation-duration: 0.85s;
}

.menu-item:nth-child(3) {
  animation: animate ease-in-out;
  animation-duration: 1s;
}

.menu-item:nth-child(4) {
  animation: animate ease-in-out;
  animation-duration: 1.15s;
}

.Menu.open .Menu-items > a:nth-child(5) {
  animation: animate ease-in-out;
  animation-duration: 1.3s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1700px) {
  h2 {
    font-size: 6em !important;
    line-height: 6rem !important;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 5em !important;
    line-height: 5rem !important;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 4em !important;
    line-height: 4rem !important;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.5em !important;
    line-height: 2.5rem !important;
  }
  .name--col {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 2em !important;
    line-height: 2rem !important;
  }
}
