@font-face {
  font-family: 'Recoleta';
  src: local('Recoleta'), url(./../fonts/Recoleta-Regular.ttf) format('truetype');
}

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fourthPart {
  overflow: hidden;

  z-index: 1;
  position: relative;
}
h2{
  font-family: auto;
}
.image2 {
  width: 400px;
}

.aboutText {
  font-size: 2rem;
  font-family: 'Recoleta';
}
.rrr {
  width: 300px;
}


/* Texte défilant */
.messagedefilant {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 150px;
  font-family: 'Recoleta';
}

.messagedefilant div {
  position: absolute;
  min-width: 100%; /* au minimum la largeur du conteneur */

}

.messagedefilant div span,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  white-space: nowrap;
  top: 0;
  -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messagedefilant div span {
  animation: defilement 20s infinite linear;
  font-size: 7rem;
    font-family: 'Recoleta' !important;
}

.messagedefilant div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilement2 20s infinite linear;
  font-size: 7rem;
    font-family: 'Recoleta' !important;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
@media (max-width: 768px) {
  .aboutText {
    font-size: 1.5rem;
    font-family: 'Recoleta';
  }
}