.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-defile {
  height: auto;
}

.fourthPart {
  overflow: hidden;

  z-index: 1;
  position: relative;
}
.fourthPart > .container-fluid {
  min-height: 75vh;
  display: flex;
  align-items: center;
}
h2 {
  font-family: auto;
}
.image2 {
  width: 400px;
}

.aboutText {
  font-family: "Space Grotesk", sans-serif;
  font-size: 5vh;
  font-weight: 400;
  line-height: normal;
  color: #001829;
  letter-spacing: -2px;
  font-size: 2.8rem;
}
.boldName {
  color: #001829;
}
.spotlightText {
  background-color: #001829;
  color: white;
  padding: 0px 1rem;
  border-radius: 50px;
}
.spotlightTextBorder {
  color: #001829;
  border: 2px solid #001829;
  padding: 0px 1rem;
  border-radius: 50px;
}
.spotlightTextBold {
  font-family: "GatwickBold";
  color: #001829;
}
.rrr {
  width: 250px;
}

/* Texte défilant */
.messagedefilant {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 13rem;
}

.messagedefilant div {
  position: absolute;
  min-width: 100%; /* au minimum la largeur du conteneur */
}

.messagedefilant div span,
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  white-space: nowrap;
  top: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s;
}

.messagedefilant div span {
  animation: defilement 120s infinite linear;
  font-size: 13rem;
  font-family: "Brice-BlackExpanded" !important;
  font-weight: 500;
  line-height: 8rem !important;
  -webkit-text-stroke: 2px #001829;

  color: transparent;
}

.messagedefilant div span:hover,
.messagedefilant div:hover::after {
  color: #001829;
  -webkit-text-stroke: 0px;
}

.messagedefilant div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilement2 120s infinite linear;
  font-size: 13rem;
  font-family: "Brice-BlackExpanded" !important;
  font-weight: 500;
  line-height: 8rem !important;
  -webkit-text-stroke: 2px #001829;

  color: transparent;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

/* Texte défilant */
.messagedefilant2 {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 13rem;
}

.messagedefilant2 div {
  position: absolute;
  min-width: 100%; /* au minimum la largeur du conteneur */
}

.messagedefilant2 div span,
.messagedefilant2 div:after {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  white-space: nowrap;
  top: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s;
}

.messagedefilant2 div span:hover,
.messagedefilant2 div:hover::after {
  color: #001829;
  -webkit-text-stroke: 0px;
}

.messagedefilant2 div span {
  animation: test 120s infinite linear;
  font-size: 13rem;
  font-family: "Brice-BlackExpanded" !important;
  font-weight: 500;
  line-height: 8rem !important;
  -webkit-text-stroke: 2px #001829;

  color: transparent;
}

.messagedefilant2 div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: test2 120s infinite linear;
  font-size: 13rem;
  font-family: "Brice-BlackExpanded" !important;
  font-weight: 500;
  line-height: 8rem !important;
  -webkit-text-stroke: 2px #001829;

  color: transparent;
}

@keyframes test {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes test2 {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}
@media (max-width: 768px) {
  .aboutText {
    font-size: 1.5rem;
  }
}
