html {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:  #e9967a;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F7EBDE;
  width: 100%;
  /* color of the scroll thumb */
  /* roundness of the scroll thumb */

}

.hiddebarmenu{
  border-right: 1px solid white;
}
.hiddebartime{
  border-left: 1px solid white;
}

.thirdPart {
  display: flex;
  width: 600vw !important;
}


.noscroll {
  overflow: hidden;
}

.app {
  color:  #e9967a;
  overflow-x: hidden;
}

.footer {
  color:  #e9967a;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

.footerLeft,
.footerRight {
  z-index: 3;
}

.borderWhite {
  width: 100vw;
  height: 100vh;
  position: fixed;
  border-left: 56px solid white;
  border-right: 56px solid white;
  z-index: 10;
}

.bluemode {
  background-color:  #e9967a !important;
  color: white !important;
}

.bluemodemenue {
  color: white !important;
}

.bluemodename {
  -webkit-text-stroke: 0px !important;
  color: white !important;
}

.bluemodedrag {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 12px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hidde {
  background-color:  #e9967a;
  position: fixed;
  width: 60px;
  height: 100vh;
  z-index: 2;
  transition: background-color 0s ease 0.4s;
}

.hiddebartime {
  right: 0;
  transition: background-color 0s ease 0.4s;
}

body {
  transition: background-color 0.5s ease;
  color:  #e9967a !important;
}



#error-page {
height: 100vh;
};  


/* Texte défilant */
.messagedefilant2 {
  display: block;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  font-family: 'Recoleta';
  transition: all 3s ease;
}

.messagedefilant2 div {
  position: absolute;
  min-width: 100%; /* au minimum la largeur du conteneur */

}

.messagedefilant2 div span,
.messagedefilant2 div:after {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  white-space: nowrap;
  top: 0;
  -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messagedefilant2 div span {
  animation: defilement 20s infinite linear;
  font-size: 7rem;
  line-height: 1!important;
    font-family: 'Recoleta' !important;
}

.messagedefilant2 div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilement2 20s infinite linear;
  font-size: 7rem;
  line-height: 1!important;
    font-family: 'Recoleta' !important;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}