@font-face {
  font-family: 'Aventine';
  src: local('Aventine'), url(./../fonts/Aventine.ttf) format('truetype');
}
@font-face {
  font-family: 'Recoleta';
  src: local('Recoleta'), url(./../fonts/Recoleta-Regular.ttf) format('truetype');
}
.Projet-page{
  background-color: #1b3b6f;
  color: white;
}
h3{
  font-family: 'Aventine'!important;
  font-size: 4rem!important;
  line-height: 4rem!important;
}
.telcapture{
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.descProject{
  font-family: 'Recoleta';
  font-size: 1.3rem;
}
#video{
  border-radius: 10px;
}


.role{
  font-family: 'Recoleta';
  font-size: 1.3rem;
  color: rgb(175, 175, 175);
}
.roleName{
  font-family: 'Recoleta';
  font-size: 1.3rem;
}
.btnHome{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;}
  .upspace{
    width: 100%;
    height: 80vh;
  }
  .nextproject-box{
    border-top: 2px solid white;
  }
  .nextproject{
    font-family: 'Recoleta';
    font-size: 3rem!important;
  }
  @media (max-width: 992px) {
    #video{
      width: 100%;
    }
    .firstProject{
      height: auto;
    }
    .page-title{
      font-size: 3rem!important;
    }
    .sideimage{
      width: 50%;
    }
    h3{
      font-family: 'Aventine'!important;
      font-size: 3rem!important;
      line-height: 3rem!important;
    }
  }
