@font-face {
  font-family: "Brice-BlackExpanded";
  src: local("Brice-BlackExpanded"), url(./../fonts/Brice-BlackExpanded.ttf) format("truetype");
}
@font-face {
  font-family: "The-Northern";
  src: local("The-Northern"), url(./../fonts/The-Northern.otf) format("opentype");
}

.Projet-page{
  background-color:  #FFF;
  color: white;
}
h3{
  font-family: 'Brice-BlackExpanded'!important;
  font-size: 3rem!important;
  line-height: 4rem!important;
}
.telcapture{
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.descProject{
  font-family: 'The-Northern';
  font-size: 1.3rem;
}
#video{
  border-radius: 10px;
}


.role{
  font-family: 'The-Northern';
  font-size: 1.3rem;
  color:white;
}
.link{
  text-decoration-color: white;
  text-underline-offset: 5px;
}
.roleName{
  font-family: 'The-Northern';
  font-size: 1.3rem;
}
.btnHome{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;}
  .upspace{
    width: 100%;
    height: 80vh;
  }
  .nextproject-box{
    border-top: 2px solid white;
  }
  .nextproject{
    font-family: 'The-Northern';
    font-size: 3rem!important;
  }
  @media (max-width: 992px) {
    #video{
      width: 100%;
    }
    .firstProject{
      height: auto;
    }
    .page-title{
      font-size: 2.5rem!important;
    }
    .sideimage{
      width: 50%;
    }
    h3{
      font-family: 'Brice-BlackExpanded'!important;
      font-size: 3rem!important;
      line-height: 3rem!important;
    }
    .descProject{
      font-family: 'The-Northern';
      font-size: 1rem;
    }
  }
