@font-face {
  font-family: "Brice-BlackExpanded";
  src: local("Brice-BlackExpanded"),
    url(./../fonts/Brice-BlackExpanded.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thirdPart {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
.project-title {
  position: absolute;
  top: 10%;
  left: 200px;
  font-family: "Brice-BlackExpanded";
  font-size: 5rem !important;
  font-style: italic;
}
.card-body {
  padding: 1rem 0px !important;
}
.projet {
  border: none !important;
  margin: 0 auto;
  color: white;
}
.projectcontainer {
  width: 100vw;
  display: flex;
  border: #001829 solid 1px;
}

.projet:hover .img-box {
  filter: blur(6px);
}

.img-box {
  aspect-ratio: 16/9;
  -webkit-aspect-ratio: 16/9;
  width: 55rem;
  height: 30rem;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  border-radius: 10px;
}
.card-body {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-title {
  text-align: center;
  color: #001829;
  font-family: "GatwickBold";
  font-size: 10rem !important;
  line-height: 10rem !important;
  transition: all 0.4s;
}
.voirtout {
  text-align: center;
  color: #001829;
  font-family: "GatwickBold";
  font-size: 10rem !important;
  line-height: 10rem !important;
  transition: all 0.4s;
}

.card-title::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #001829;
  transform: scaleX(0);
  transition: all 0.45s;
}
.card-title:hover::after {
  transform: scaleX(1);
}
.title-box {
  cursor: pointer;
  padding: 7rem;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects {
  z-index: 5;
}

.projet a {
  padding-left: 0px;
  background-color: transparent !important;
  border-bottom-width: 20%;
  border: none !important;
  border-bottom: 1px solid white !important;
  border-radius: 0;
  font-family: Arial !important;
  display: flex !important;
  align-items: center !important;
  transition: width 0.5s;
  color: white;
}
.btn-arrow {
  padding: 0px 0px 0px 10px;
  transition: padding-left 0.5s;
}
.card:hover .btn-arrow {
  padding-left: 80%;
}

.pin-spacer > div {
  border-left: 50px;
}
.first {
  margin-left: 150px;
}
.thirdPartMobile {
  width: 95%;
  margin: 0 auto;
}
.thirdPartMobile div:last-child {
  border-bottom: 1px #fff solid;
}
.mobile-project {
  cursor: pointer;
  padding: 0.5rem 0px;
  border-top: 1px #fff solid;
}
.bluemodeborder {
  border-color: white !important;
}
.mobile-projet-title {
  padding: 0px 1rem;
  font-family: "Brice-BlackExpanded" !important;
  font-size: 1.5rem !important;
  margin: 0 !important;
}
.mobil-projet-titlebox {
  font-style: italic;
}

#mouse-parallax-container {
  height: 100vh;
  display: contents;
}

body,
html {
  background-color: #000;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.scroll-downs {
  position: absolute;
  top: 90%;
  left: 50vw;
  z-index: 999;
  margin: auto;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* media querry pour les ecran en dessou de 1300px */

@media screen and (max-width: 1300px) {
  .thirdPart {
    flex-wrap: wrap;
  }
  .projectcontainer {
    flex-wrap: wrap;
  }
  .projet {
    width: 100%;
  }
  .img-box {
    width: 100%;
    height: 30rem;
  }
  .card-title {
    font-size: 7rem !important;
    line-height: 6.5rem !important;
  }

  .project-title {
    font-size: 5rem !important;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1000px) {
  .thirdPart {
    flex-wrap: wrap;
  }
  .projectcontainer {
    flex-wrap: wrap;
  }
  .projet {
    width: 100%;
  }
  .img-box {
    width: 100%;
    height: 30rem;
  }
  .card-title {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
  .project-title {
    font-size: 5rem !important;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 800px) {
  .thirdPart {
    flex-wrap: wrap;
  }
  .projectcontainer {
    flex-wrap: wrap;
  }
  .projet {
    width: 100%;
  }
  .img-box {
    width: 100%;
    height: 30rem;
  }
  .card-title {
    font-size: 2rem !important;
    line-height: 1.5rem !important;
  }
  .project-title {
    font-size: 3rem !important;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .thirdPart {
    flex-wrap: wrap;
  }
  .projectcontainer {
    flex-wrap: wrap;
  }
  .projet {
    width: 100%;
  }
  .img-box {
    width: 100%;
    height: 30rem;
  }
  .card-title {
    font-size: 2rem !important;
    line-height: 1.5rem !important;
  }
  .project-title {
    font-size: 2rem !important;
    left: 50%;
    transform: translateX(-50%);
  }
}
