@font-face {
  font-family: "Aventine";
  src: local("Aventine"), url(./../fonts/Aventine.ttf) format("truetype");
}
.CountDown{
  font-family: "Aventine" !important;
  font-weight: 500;
  font-size: 12em !important;
  line-height: 10rem !important;
}

.Btnnn{
  background-color: #e9967a;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Aventine';
  font-weight: 500;
  font-size: 5em !important;
}
.para{
  font-family: 'Aventine';
  font-weight: 500;
  font-size: 5em !important;
  line-height: 6rem !important;
}

@media (max-width: 768px) {
  .CountDown{
    font-size: 3em !important;
  }
  .para {
    font-size: 1.5em !important;
  }
}