.fourthPart {
  background-color: white;
  overflow: hidden;
  min-height: 70vh;
  z-index: 1;
  position: relative;
  color: #1B3B6F;
}
.monsteraIMG {
  width: 400px;
  position: absolute;
  top: 0%;
}
.image2 {
  width: 400px;
}

.aboutText {
  font-size: 24px;
}
