@font-face {
  font-family: 'Aventine';
  src: local('Aventine'), url(./../fonts/Aventine.ttf) format('truetype');
}
@font-face {
  font-family: 'Recoleta';
  src: local('Recoleta'), url(./../fonts/Recoleta-Regular.ttf) format('truetype');
}
h3{
  font-family: 'Aventine'!important;
  font-size: 5rem!important;
  line-height: 5rem!important;
}
.telcapture{
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.descProject{
  font-family: 'Recoleta';
  font-size: 1.3rem;
}
#video{
  border-radius: 10px;
}

.firstProject{
  width: 100%;
  height: 90vh;
}

.role{
  font-family: 'Recoleta';
  font-size: 1.3rem;
  color: rgb(175, 175, 175);
}
.roleName{
  font-family: 'Recoleta';
  font-size: 1.3rem;
}
