@font-face {
  font-family: "Brice-BlackExpanded";
  src: local("Brice-BlackExpanded"),
    url(./../fonts/Brice-BlackExpanded.ttf) format("truetype");
}
.main-tool-bar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: fixed;
  transition: ease 0.4s;
  z-index: 5;
}

.bluemodenav {
  color: white !important;
  border-bottom: 1px solid white;
}
.btnOpen {
  color: #001829;
  font-family: "GatwickBold" !important;
  font-size: 1.5rem;
  z-index: 5;
  cursor: pointer;
  border: 2px solid #001829;
  border-radius: 50px;
}

.nav-name {
  color: #e9967a;
  text-decoration: none;
  font-family: "Brice-BlackExpanded" !important;
}

.nav-name > h4 {
  color: #001829;
  font-family: "MoriBold" !important;
  padding-left: 10%;
  font-size: 2rem;
}

.navbtn {
  padding-right: 10%;
}
