@font-face {
    font-family: "Aventine";
    src: local("Aventine"), url(./../fonts/Aventine.ttf) format("truetype");
  }
.main-tool-bar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  color: #1b3b6f;
  position: fixed;
  transition: ease 0.4s;
  z-index: 5;
}
.main-tool-bar > .container {
    border-bottom: #1b3b6f 2px solid;
}
.bluemodenav{
    border-bottom: white 2px solid!important;
}
.btnOpen{
    font-size: 1.5rem;
    z-index: 5;
}

h4{
    font-family: "Aventine" !important;
}